@import url('common.css');

html,body{
    width: 100%;
    height: auto;
    background-color: #f9f7f3;
}

/* ---------------header---------------- */

header{
    font-family: 'Karla', sans-serif;
}
nav p{
    color: white;
    font-size: 0.8em;
    font-family: 'Lobster Two', cursive;
}
nav ul{
    width: 100%;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    opacity:0.8;
}
nav ul li{
    padding: 8px 12px;
    margin: 2%;
    font-size: 1em;
    font-weight: bold;
}
nav ul li a{
    color: black;
    font-size: 1.5em;
}
nav ul li:hover{
    opacity: 0.5;
    transition: .9s;
}


/* ---------------------main----------------- */

.menu{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 500px;
    text-align: center;
    margin-top: 10%;
    background: #e4dcdc;
    
}
aside{
    color: white;
    font-size: 3em;
    text-align: right;
    margin-left: 2%;
    font-family: 'Vidaloka', serif;
}

.menu img:hover{
    transform: scale(1.1);
    transition: .5s ease-in;
}

/* -----------------footer----------------- */

.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ddd;
    border-right: 0px;
}

.footer ul li:hover{
    opacity: 0.5;
    transition: .9s;
}


